<div>
  <ul>
    <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a> (<a href="/edit/<%= file %>">edit</a>, <form class="inline" method="post" action="/<%= file %>/delete">
        <button type="submit">delete</button>
      </form>)
    </li>
    <% end %>
  </ul>
</div>
<div>
  <a href="/new">Create new document</a>
</div>
<p>
  <% if session[:user] %>
  Signed in as <%= session[:user] %>.
  <form method="post" action="sign-out">
    <button type="submit">Sign out</button>
  </form>
  <% else %>
  <a href="/sign-in">Sign in</a>
  <% end %>
</p>
